*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

nav{
    display: grid;
    grid-template-columns: 30% 1fr 27%;
}
.logo{
    margin-left: 20px;
}
.logo img{
    width: 112px;
    height: 74px;
}

.logo button{
    height: 30px;
    width: 20px;
    background-color: #fff;
    border: none;
    font-size: 25px;
    padding-right: 40px;
    margin-top: 10px;
}
.profile{
    text-align: end;
    vertical-align: middle;
    margin-top: 1rem;
}
.profile svg{
    margin-right: 20px;
    font-size: 20px;
}

.search{
    text-align: center;
    margin-top: 1rem;
}
.search input{
    width: 100%;
    border-radius: 20px;
}
.search button{
    border-radius: 20px;
    border: 1px solid lightgray;
    background-color: #f2f2f2;
}
.search button:hover{
    background-color: #e5e5e5;
    border: 1px solid lightgray;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.body{
    display: grid;
    grid-template-columns: 18% 1fr;
    
}
.sidebar{
    display: grid;
    grid-template-columns: 25% 1fr;
    height: 100%;
}
.sidebar ul {
    padding-left: unset;
}
.video{
    margin: 10px;
    
}
.video img{
    height: auto;
    width: 100%;
    border-radius: 20px;
    
}
.title-video{
    font-family: "Roboto", sans-serif;
}
.video-name{
    
    font-weight: 900;
}
.chanel-name{
    color: #777676;
    font-weight: 500;
    
}

.view_num{
    font-size: 14px;
}
.sidebar ul li{
    list-style: none;
    padding: 10px;
    text-align: left;
}
.menu-icon ul li{
    padding-left: 20px;
    padding-top: 11px;
    height: 44px;
}
.menu-icon #img{
    border-radius: 15px;
}

.menu-name .name-chanel{
    padding-top:13px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}
.live{
    width: 64px;
    height: 18px;
    fill: red;
    margin-top: 3px;
}

.title-video{
    margin-top: 1.2rem;
}
.details-video{
    display: grid;
    grid-template-columns: 14% 1fr;
}

.chanel-profile-img #img{
    width: 35px;
    height: 2.2rem;
    border-radius: 21px;
    margin-top: 19px;
}

.top-menu-bar ul{
    display: flex;
    padding-left: unset;
}
.top-menu-bar{
    height: 3rem;
    
}   
.top-menu-bar ul li{
    list-style: none;
    
    padding-left: 1rem;
}

.bgtop-menu-bar{
    background-color: #f2f2f2;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.bgtop-menu-bar:hover{
    background-color: #e5e5e5;
}


/* @media screen and (max-width: 1278px){
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .sidebar{
        display: none;
    }
} */