*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.logo{
    margin-left: 20px;
}
.logo img{
    width: 112px;
    height: 74px;
}

.logo button{
    height: 30px;
    width: 20px;
    background-color: #fff;
    border: none;
    font-size: 25px;
    padding-right: 40px;
    margin-top: 10px;
}
.profile{
    text-align: end;
    vertical-align: middle;
    margin-top: 1rem;
}
.profile svg{
    margin-right: 20px;
    font-size: 20px;
}

.search{
    text-align: center;
    margin-top: 1rem;
}
.search input{
    width: 100%;
    border-radius: 20px;
}
.search button{
    border-radius: 20px;
    border: 1px solid lightgray;
}
.search button:hover{
    background-color: #d3d3d3;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.body{
    display: grid;
    grid-template-columns: 18% 1fr;
    
}
.sidebar{
    display: grid;
    grid-template-columns: 25% 1fr;
    border: 1px solid red;
    height: 100%;
}
.sidebar ul {
    padding-left: unset;
}
.video{
    border: 1px solid yellow;
    margin: 10px;
    
}
.video img{
    height: auto;
    width: 100%;
    border-radius: 20px;
    
}



.sidebar ul li{
    list-style: none;
    padding: 10px;
    text-align: left;
}
.menu-icon ul li{
    padding-left: 20px;
    padding-top: 11px;
    height: 44px;
}
.menu-icon #img{
    border-radius: 15px;
}

.menu-name .name-chanel{
    padding-top:13px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}
.live{
    width: 64px;
    height: 18px;
    fill: red;
    margin-top: 3px;
}











@media screen and (max-width: 1278px){
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .sidebar{
        display: none;
    }
}